.container {
  width:50%;
  padding:2%;
  margin:0 auto;
  justify-content: center;
  background: #fff;
    
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.form-list li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.analysis-form label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.analysis-form{
  margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.analysis-form label input{
box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
  outline: none;
}
.form-list input[type=submit]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form-list input[type=submit]:hover{
  cursor:pointer;
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.analysis-output div{
  margin:20px 0 20px 0;
}
